
   /*Ai GENERATOR*/
  .illu{
    --ang1e:0deg;
    color: #fff;
    font-size: x-large;
    font-weight: bolder;
    justify-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 90px;
    background-color: transparent;
    filter: blur(0.03rem);
    height: 30px;
    padding-right: 3px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    position: absolute;
    margin-left: 20px;
  }


  .illu::after ,.illu::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: conic-gradient(from var(--angle),yellowgreen,red,black,yellowgreen);
    border-radius: 25px;
    top: 40%;
    left: 20%;
    translate: -98px -14px;
    z-index: -1;
    padding: 2px;
    transition: smooth;
    animation: 7s spin linear infinite;
    opacity: 0.9;
  }

  .illu::before
  {
    filter: blur(2rem);
    opacity: 0.9;
  }

  @keyframes spini 
  {
    from{
      --angle:0deg;
    }
    to{
      --angle:360deg;
    }
  }



  /*ENDS HERE AI*/
