.body{
  background-color: rgb(8, 8, 8);
}

.b1x{
  background-color: black;
  height: 300px;
  width: 420px;
  display: grid;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 170px;
  border-radius: 30px;
  color: #fff;
  font-size: x-large;
  position:relative;
}

@property --angle{
  syntax: "<angle>"; 
  initial-value:0deg;
  inherits:false ;

}

.b1x::after, .b1x::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #fff, black,white,red,white,lightgreen,#fff, black,white,red,white,lightgreen );
  top: 50%;
  left: 50%;
  translate: -50% -50% ;
  z-index: -1;
  padding: 3px;
  border-radius: 30px;
  animation: 4s spin linear infinite;
}

.b1x::before{
  filter: blur(1.3rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle:0deg;
  }
  to{
    --angle:360deg;
  }
}

.message
{
  justify-self: center;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  opacity: 1;
  color: red;
  cursor: none;
  
}

.name, 
.phone,
.password,
.passw2rd
{
  height: 40px;
  width: 480px;
  justify-self: center;
  border: 1px solid red;
  border-radius: 20px;
  font-weight: 900;
  padding-left: 15px;
  font-size: medium;
  margin-top: -30px;
}

.sign-up, .sign-in
{
  height: 50px;
  border-radius: 15px;
  margin-top: -150px;
  border: 2px solid greenyellow;
  background: black;
  color: greenyellow;
  font-size: large;
  font-weight: bolder;
  justify-self: center;
  width: 490px;
}

.sign-up:hover, .sign-in:hover
{
  background-color: rgb(107, 253, 3);
  color: black;
  border: 2px dashed black;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}


.oth3r
{
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-self: center;
  margin-top: -100px;
}

.r3direct
{
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.defn
{
    color: #fff;
    font-size: x-large;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    display: flex;
    margin-top: -3px;
    display: flex;
    background: transparent;
    position: relative;
    border-style: none;
    border-radius: 10px;
    z-index: 1;
    width: 700px;

}

